<footer class="footer py-3 border-top mt-auto" style="background-color: #769ABE;">
    <div class="container">
        <span class="text-muted">&copy; 2021 visitMe | All Rights Reserved</span>
    </div>
</footer>