<%- layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header text-center">
                <h3>Sign up</h3>
            </div>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" name="username" type="text" class="form-control" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input id="email" name="email" type="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="postal" class="form-label">Postal Code</label>
                        <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="postal" maxlength="6" name="postal" class="form-control" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-success">Sign up</button>
                    </div>
                </form>      
            </div>
        </div>
    </div>
</div>